<script>
    $(document).ready(function(){
        $('#continuing-resources-main').DataTable({
            "iDisplayLength": 50,
            dom: 'Bfrtip',
            buttons: [
                'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.datepicker').datepicker();

    });

    $(function(){
        $("#yearSelect").change(function(){
        window.location='?year=' + this.value
        });
    });
</script>

<div class="row justify-content-center">
    <div class="col-auto">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <div class="form-group" style="text-align:center">
        <label for="yearSelect">Choose year:</label>
        <select class="form-control" id="yearSelect">
            {{#each years}}
                <option value="{{this}}" {{#if (isSelectedYear this ../selectedYear)}}selected{{/if}}>Fiscal Year {{previousYear this}}/{{this}}</option>
            {{/each}}
        </select>
        </div>
    </div>
</div>

<div class="col-12">
    <table id="continuing-resources-main" class="table table-bordered">
        <thead>
            <th>Department</th>
            {{#if showAddFields}}
                <th>Appropriation</th>
            {{/if}}
            <th>Total Paid Amount</th>
            {{#if showAddFields}}
                <th>Total Encumbrance</th>
                <th>Free Balance</th>
                <th>Cash Balance</th>
            {{/if}}
        </thead>
        <tbody>
            {{#each result}}
                <tr>
                    <td><a href="/continuing-resources/{{extract this.name}}">{{this.name}}</a></td>
                    {{#if ../showAddFields}}
                        <td>${{formatNumber this.appropriation}}</td>
                    {{/if}}
                    <td>${{formatNumber this.total_amt}}</td>
                    {{#if ../showAddFields}}
                        <td>${{formatNumber this.encumbrance}}</td>
                        <td>${{formatNumber this.free_balance}}</td>
                        <td>${{formatNumber this.cash_balance}}</td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <a href="/dashboard">Dashboard</a>
    </div>
</div>
